.topSales-container {
  margin: 50px 100px;
  position: relative;
}
.topSales {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 640px) {
  .topSales-container {
    margin: 50px 50px;
  }
}