.navbar_container {
  background: #2D82BE;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .navbar_container {
    flex-wrap: wrap;
    padding: 20px;
    height: auto;
    justify-content: space-between;
    gap: 20px;
  }
}
