@font-face {
  font-family: 'Gilroy';
  src: url('assets/Gilroy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
   font-family: 'Gilroy', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
